/* Main Page */
#main {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    top: 35%;
    left: 20%;
}
/*
.logo {
    width: 200px;
    height: 62px;
    clip-path: inset(0 137px 0 0);
}
*/
.logo {
    width: 62px;
    height: 62px;
}
#title {
    margin: 24px 0 0 0;
    font-size: 61.16px; color: white; 
    font-weight: bold;
}
#subtitle {
    margin-top: 16px;
    font-size: 24.26px;  color: white;
    line-height: 35.23px;
}
#main_bg {
    z-index: -1;
    background-image: linear-gradient(rgba(34, 34, 34, 0.5), rgba(34, 34, 34, 0.5)), url('/public/bold/main_bg.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
}
#main_button {
    margin: 40px 0 0 0;
    padding: 0;
}