@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

/* add to tailwind config later */
:root {
  /*primary colors*/
  --primary-100: #372FFF;

  /*neutral colors*/
  --neutral-100: #030303;
  --neutral: #333333;
  --neutral-60: #4D4D4D;
  --neutral-30: #B3B3B3;
  --neutral-20: #CCCCCC;

  /*body*/
  --body4: 14px;
}

* {
  font-family: 'Pretendard', sans-serif;
}


/* Navigation Menu */
nav {
  background-color: white;
  height: 80px;
  text-align: center;
  box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  display: inline-block;
  margin: 0 38px;
  padding-top: 0px;
  vertical-align: middle;
}

.nav-link {
  display: inline-block;
  margin: 30px 38px;
  font-size: var(--body4);
  color: var(--neutral);
  text-decoration: none;
}

.nav-link:nth-last-of-type(-n+3) {
  color: var(--neutral-30);
  margin: 0 16px;
}
.nav-link:nth-last-child(3) {
  margin-left: 390px;
}
.nav-link:nth-last-child(2) {
  cursor: default;
}


/* Main Page */
#main {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 25%;
}
.logo {
  width: 200px;
  height: 62px;
  clip-path: inset(0 137px 0 0);
}
#title {
  margin-top: 24px;
  font-size: 61.16px; color: white; 
}
#subtitle {
  margin-top: 16px;
  font-size: 24.26px;  color: white;
}
#main_bg {
  clip-path: inset(0 116px 0 116px);
  object-fit: fill;
  z-index: -1;
}
