@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

/* add to tailwind config later */
:root {
  /*primary colors*/
  --primary-100: #372FFF;

  /*neutral colors*/
  --neutral-100: #030303;
  --neutral-80: #333333;
  --neutral-60: #4D4D4D;
  --neutral-30: #B3B3B3;
  --neutral-20: #CCCCCC;
}

* {
  font-family: 'Pretendard', sans-serif;
}


/* Navigation Menu */
nav {
  background-color: white;
  height: 80px;
  text-align: center;
  padding-top: 40px;
}

.nav-link {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  color: black;
  list-style: none;
}


/* Main Page */
.title {
  font-size: 61.16px;
}

.subtitle {
  font-size: 24.26px;
}